html {
    cursor: none;
  }

  #circularcursor {
    background-color: transparent;
    border:1px solid black;    
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
  }
  
  

body{
  margin:0px;
  background-color:#FEFAE0;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #283618;
    padding: 2%;
}

header div.logo {
    display: flex;
    align-items: center;
}

header div.logo a, .header-logo {
    color: #FEFAE0;
    font-family: 'Poppins';
    font-weight: 700;
    margin: 0 0 0 16px;
    font-size: 25px;
    display: flex;
    padding-top: 0.5rem;
}

header div.logo a:hover{
    color:#85D32C;
}

header a {
    font-family: 'Poppins';
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    color: #FEFAE0;
}

header a:hover {
    font-family: 'Poppins';
    font-weight: 700;
    text-decoration: none;
    color:#85D32C;
}

header ul {
    margin: 0%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header li {
    display: inline-block;
    padding-right: 40px;
}

section.titolo{
    padding: 2%;
    margin-top: 0%;
    font-size: 115px;
    font-family: 'Poppins';
    font-weight: 700;
    color:#283618;
    line-height: 155%;
    letter-spacing: -9px;
}

.grid, .card {
    max-width: 1200px;
    margin: auto; /* centro l'elemento nella pagina */
    padding: 10px;
}

.grid {
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 100px;

}

section.grid h2 {
    padding: 0%;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 500;
    color:#283618;
    line-height: 155%;
    letter-spacing: -1px;
    text-align: center;
    background-color: aqua;

}

.card a:hover{
    
    font-family: 'Poppins';
    font-weight: 700;
    text-decoration: none;
    color:#85D32C;
}

.grid h2:hover {
    font-family: 'Poppins';
    font-weight: 700;
    text-decoration: none;
    color:#85D32C;
}

::selection {
    background-color: rgb(12, 12, 12);
    color:rgb(240, 233, 233) 
}
